#Copy this file and rename it to .env.development.local if not exists
#Then replace DB_HOST, DB_PORT, DB_USERNAME, DB_PASSWORD, DB_NAME to your local properties
#Another properties are remote properties, don't change it
NODE_ENV=development
PORT=3000
LOG_FORMAT=dev
LOG_DIR=../logs
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=secretPassword
DB_NAME=7FF
REDIS_HOST=redis-11281.c295.ap-southeast-1-1.ec2.cloud.redislabs.com
REDIS_PORT=11281
REDIS_PASSWORD=CZsvujifEOarosEHs742H3CzDntOOEpn
ACCESS_TOKEN_SECRET=XtitPOagxC
ACCESS_TOKEN_LIFE=3600
REFRESH_TOKEN_SECRET=grvtq3QvYU
REFRESH_TOKEN_LIFE=2592000
RESETPASSWORD_TOKEN_LIFE=600
RESETPASSWORD_TOKEN_SECRET=zagxCvYUnM
SALTED_PASSWORD=10
CLIENT_URL=http://localhost:3000
GMAIL_USER=sevenfastfoodservice@gmail.com
GMAIL_PASSWORD=ectjtjmahkjfmouv
ORIGIN = *
CREDENTIALS = true
CLOUDINARY_CLOUD_NAME=dxd7ws9nz
CLOUDINARY_API_KEY=142852193245341
CLOUDINARY_API_SECRET=nOcQLQ6Udimy8b_L_jxJ9bu8KKc
GG_CLIENT_ID=468457821680-2ta71gk2302k2occmbu955ofagi74l5k.apps.googleusercontent.com
